@{
    Layout = null;
}
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<div class="alert alert-danger">
    @if (ViewData.ModelState[""].Errors.Count > 0)
    {
        @foreach (var error in ViewData.ModelState[""].Errors)
        {
            <p>@error.ErrorMessage</p>
        }
    }
    else
    {
        <p>An unexpected error occurred.</p>
    }
</div>

<a href="javascript:history.back()">Go Back</a>

