@model SearchVeiwModel

@if (Model.Users.Count > 0)
{
    <ul class="dropdown-menushow" style="position: relative">
        @foreach (var user in Model.Users)
        {

            <li class="dropdown-itemmm">
                <a href="@Url.Action("Detail", "User", new { UserId = user.UserId })" style="width:100%; display: flex; align-items: center;">
                    <img src="@user.ProfileImage" alt="" class="profile-photo-sm" />
                    <p style="color:black">@user.UserName </p>
                </a>
            </li>
        }
    </ul>
}
else
{
    <p class="dropdown-item">No users found</p>
}
