@model List<UserGetViewModel>

@if (Model.Count > 0)
{
    <ul class="dropdown-menushow" style="position: relative">
        @foreach (var user in Model)
        {
                <li class="dropdown-itemmm">
                <a href="sdsdsd" style="width:100%; display: flex; align-items: center;">
                        <img src="@user.ProfileImage" alt="" class="profile-photo-sm" />
                        <p style="color:black">@user.UserName </p>
                    </a>
                </li>
        }
    </ul>
}
else
{
    <p class="dropdown-item">No users found</p>
}
